/* img{

    width: 200px;
    height: 200px;
    padding:0px 50px;
    margin: 0px 50px;
    display: inline-table;
} */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT';
}
body {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}
section h1{
    border: 10px red solid;
    height: 10%;
    width: 100%;
}
.container{
    border: 10px rgb(243, 118, 118) solid;
    width: 100%;
    height: 70%;
    background-color: blueviolet;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 15%;
    overflow:hidden;
}
.part1{
    border: 10px rgb(151, 0, 0) solid;
    height: 40%;
    width: 100%;

}